.content {
  grid-area: footer;
  background: #e1e1e6;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  font: 400 15px "Inter", sans-serif;

  padding-right: 20px;

  strong {
    color: #8e47bc;
  }
}
