.content {
  display: grid;
  grid-template-rows: 100px 1fr 60px;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar form"
    "sidebar form";

  .sidebar {
    grid-area: sidebar;
  }

  .criarEdital {
    grid-area: form;

    margin-right: 15px;
    padding: 15px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);

    .form {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      label {
        display: flex;
        font: 400 15px "Inter", sans-serif;
        padding-bottom: 15px;
        padding-left: 5px;
      }

      input {
        height: 40px;
        width: 400px;
        border-radius: 6px;
        border: 1px solid #a2a2a2;
        padding-left: 15px;
        padding-right: 15px;

        font: 400 15px "Inter", sans-serif;
        color: #a2a2a2;
        background-color: rgb(255, 255, 255);
        outline: 0;
      }
      input:-webkit-autofill,
      textarea:-webkit-autofill,
      select:-webkit-autofill {
        -webkit-text-fill-color: #a2a2a2;
        -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
      }
    }

    .submit {
      display: flex;
      justify-content: flex-end;

      .salvar {
        button {
          background: rgb(28, 28, 151);
          border-radius: 5px;
          margin-top: 44px;
          height: 50px;
          width: 100px;
          margin-right: 15px;

          font: bold 16px "Roboto", sans-serif;
          color: #fff;

          cursor: pointer;
          border: 0;

          transition: filter 0.5s;

          &:hover {
            filter: brightness(1.3);
          }
        }
      }
      .cancelar {
        button {
          background: #a2a2a2;
          border-radius: 5px;
          margin-top: 44px;
          height: 50px;
          width: 100px;

          font: bold 16px "Roboto", sans-serif;
          color: #fff;

          cursor: pointer;
          border: 0;

          transition: filter 0.5s;

          &:hover {
            filter: brightness(0.7);
          }
        }
      }
    }

    .table {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      height: 580px;
      overflow: auto;

      thead {
        th {
          font: 600 15px "Inter", sans-serif;
          text-align: center;
          padding-bottom: 15px;
        }
      }
      tbody {
        tr {
          td {
            text-align: center;
            padding: 10px;
            .trash {
              background: #dc3545;
              padding: 10px;
              border-radius: 6px;
              border: 0;
              cursor: pointer;
            }

            .edit {
              background: #ffca2c;
              padding: 10px;
              border-radius: 6px;
              border: 0;
              cursor: pointer;
              margin-right: 5px;
            }
          }
          &:hover {
            background-color: rgb(225, 225, 230);
          }
        }
      }
    }
  }
}
