.content {
  grid-area: header;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: #fff;
  height: 63px;

  .logout {
    height: 100%;
    width: 80px;
    cursor: pointer;
    background-color: #fff;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: rgb(240, 236, 236);
    }
  }
}
